$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts*/


$primary-font: "Poppins", sans-serif;

/* Sizes Container */



/* Colors */

$title-text: #264065;
$subtitle-text: #909090;
$bg-color: #FAF8F5;
$bg-color-secondary: #A9D6CB;


